doctype 5
html(lang="en")
  head
    title tux - Mocha tests
    link(rel="stylesheet",href="lib/mocha.css")
  body
    #mocha
    script(src="lib/mocha.js")
    script(src="lib/angular.js")
    script(src="src/require.config.js")
    script(src="spec/runner.js")
    script(src="lib/require.js")
    